@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --bg-primary: #232527;
 --bg-secondary: #191b1d;
 --bg-tertiary: #393b3d;
 --bg-fort: #656668;
 --bg-border-secondary: #111214;
 --text-primary: #ffffff;
 --text-secondary: #bdbebe;
}

body {
 color: var(--text-primary);
 background: var(--bg-primary);
 font-family: 'Plus Jakarta Sans Variable', sans-serif;
 font-weight: 400;
}
label {
 color: var(--text-primary);
}
input[type='text'] {
 background-color: #000000b3;
 color: var(--text-secondary);
 border-radius: 8px;
 padding: 2px;
 border: 1px solid var(--text-secondary);
 outline: none;
 &:focus {
  border: 1px solid white;
 }
}

@layer utilities {
 .text-balance {
  text-wrap: balance;
 }
}
.robux-icon {
 background-image: url(https://images.rbxcdn.com/e3fed0d20e85a51518b2756e66343a5e-economy_small_dark.svg);
 background-position: 0 -20px;
 margin-bottom: 2px;
 margin-right: -2px;
 background-repeat: no-repeat;
 background-size: auto auto;
 width: 20px;
 height: 20px;
 display: inline-block;
 vertical-align: middle;
}
.github-icon {
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-github'%3E%3Cpath d='M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4'/%3E%3Cpath d='M9 18c-4.51 2-5-2-7-2'/%3E%3C/svg%3E");
 width: 24px;
 height: 24px;
}
span {
 [data-bind='item.Label.OwnershipPreposition'],
 [data-bind='item.Info.ItemForSale'] {
  color: var(--text-secondary);
 }
}
input {
 color: var(--);
}
.text-link {
 display: inline;
 &:hover {
  text-decoration: underline;
 }
}
section {
 display: inline-flex;
}
